table {
    width: 600px;
    border-collapse: collapse;
    margin-left: 20px;
}
td,th {
    border: 1px solid black;
    width: 25%;
}
th {
    background-color: darkBlue;
    color: white;
}
.selected {
    background-color: lightBlue;
}
td input {
    width: 100px;
}
button {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}
